.container{
    position: relative;
}

.background{
    height: 100vh;
    width: 100%;
}


.card{
    width:447px;
    height: 245px;
    position: absolute;
    border-radius: 5px;
}

.card-front{
    top:145px;;
    right:-28%;
    display: flex;
    flex-direction: column;
    background-image: url(../images/bg-card-front.png);
    background-size: cover;
    padding:20px;
}


.container .card-front .logo{
    width:84px;
    height: 47px;
}

.container p{
    font-family: "Space Grotesk", sans-serif; 
    font-size: 12px;
    letter-spacing: 2px;
    color: #fff;
}

.container .name-exp-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container p.card-number{
    width:408px;
    font-size: 32px;
    align-self: center;
    margin:auto;
}

.container p.cardholder-name{
    text-transform: uppercase;
    font-size: 11px;
}

 .container .exp-date{
    display: flex;
    gap:2px;
}

.card-back{
    top: 420px;
    right:-40%;
    background-image: url(../images/bg-card-back.png);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.container p.cvc{
    margin:113px 55px 0 0;
}