*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

form{
    list-style-type: none;
    text-decoration: none;
}

html{
    width:100vw;
    height: 100vh;
    overflow-x: hidden;
}
main{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw; 
}

li{
    list-style-type: none;
}
